@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* 扩展 blur 尺度，使 backdrop-blur-4xl 生效 */
  --blur-4xl: 240px;

  --text-xs: 0.25rem;
  --text-xs--line-height: 0.35rem;

  --text-sm: 0.35rem;
  --text-sm--line-height: 0.45rem;

  --text-base: 0.45rem;
  --text-base--line-height: 0.55rem;

  --text-lg: 0.55rem;
  --text-lg--line-height: 0.65rem;

  --text-xl: 0.65rem;
  --text-xl--line-height: 0.75rem;

  --shadow-l-white: -10px 0 10px white;

  --header-height: 72px;
  --main-height: calc(100vh - var(--header-height));

  --color-main: #f44c58;
  --color-hover-main: #f32836;
  --color-success-100: #f2f9ec;
  --color-success-200: #e4f2db;
  --color-success-300: #7ec050;
  --color-warn-100: #fcf6ed;
  --color-warn-200: #f8ecda;
  --color-warn-300: #dca550;
  --color-error-100: #ed7456;
  --color-error-200: #f3471c;
  --color-error-300: #ffffff;

  --shadow-l-zinc: -10px 0 10px #18181b;
}

/* .shadow-l-white {
  box-shadow: -10px 0 10px white;
} */

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
